$theme-colors: (
  "info": #fff,
  "secondary": rgb(23, 23, 77),
  "danger": #e77c7c,
  "success": #14b394,
  "warning": #344648,
  "primary": rgb(23, 23, 77),
  "light": #b38614,
);

@import "bootstrap/scss/bootstrap";

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #fcf7e4;
}

#App {
  position: relative;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  color: rgb(23, 23, 77);
}

.spinner-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgb(23, 23, 77);
}
.back-button {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: #b38614;
  }
}

.frequency-button {
  &.active {
    color: white;
    border: white;
    background-color: #b38614;
  }

  &.inactive {
    color: white;
    border: white;
    background-color: #7070704d;
  }
}

.hover-icon {
  &:hover {
    cursor: pointer;
    color: #b38614;
  }
}

.hover-name {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    color: #b38614;
  }
}
.history-list {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  & > p {
    margin-bottom: 8px;
  }
}
